/.vscode
/Exercises for Limit of functions .pdf
/Exercises for Limits and continity.pdf
/Untitled-1
/array1.py
/array2.py
/claculator.py
/examole.class
/example.py
/grades.py
/java
/passwords_project.py
/while.py